<h1>{{title}}</h1>

<!-- <form #loginForm="ngForm" novalidate>
    <label for="userName">User Name: </label>
    <input type="text" placeholder="User name" name= "Name" id="Name" ngModel required />
    <br/>
    <label for="userPassword">Password: </label>
    <input type="password" name="Password" id="Password" ngModel  required/>
    <br/>
    <input type="submit" (click)="login(loginForm)" />
    <input type="submit" (click)="login(loginForm)" [disabled]="!loginForm.valid"/>
    
</form> -->
<form [formGroup]="loginForm" novalidate>

    <label for="userName">User Name: </label>
    <input type="text" placeholder="User name" name= "Name" id="Name" formControlName="Name" />
    <span *ngIf="displayMessage.Name" >{{displayMessage.Name}}</span>
    <br/>
    <label for="userPassword">Password: </label>
    <input type="password" name="Password" id="Password" formControlName="Password"/>
    <span *ngIf="displayMessage.Password" >{{displayMessage.Password}}</span>
    <br/>
    <input type="submit" id="submit" (click)="login(loginForm)" [disabled]="!loginForm.valid"/>

</form>